
/*Overwrite the opacity of the disabled button*/
.btn.disabled, .btn[disabled] {
    opacity: 1;
}
/*Prevent button width shift when revealing a letter*/
.btn {
    font-family: "Courier New",Courier,monospace;
}
#hangmanContainer {
	width: 420px;
	height: 467px;
	margin: 0 auto;
	display: block;
	position: relative;
}
.mistakeImg {
	width: 420px;
	height: 467px;
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;

} 
